img {
  width: 200px;
  float: right;
  margin-right: 50px;
}

.jumbotron {
  background-color: black;
  color: white;
  text-align: center;
}

.sidebar {
  background-color:#BEBEBE;
  width: 265px;
  padding: 30px;
  float: right;
}

h3 {
  color: #006600;
  font-weight: bolder;
}

.city {
  font-style: italic;
}
